.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1b4cad;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.graybackground {
  background-color: #cccccc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fixed-textarea { resize:none; }

.col-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xl-4 {
padding: 1rem;
color: #fff;
text-align: center;
}

.sidebarProfessor {
  padding: 1rem;
  background-color: #f7f7f7;
  color: rgb(0, 0, 0);
  text-align: center;
  height: 94vh;
  z-index: 1;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebarProfessorModal {
  padding: 1rem;
  background-color: #f7f7f7;
  color: rgb(0, 0, 0);
  text-align: center;
  height: 90vh;
  z-index: 1;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.centerProfessor{
  padding: 1rem;
  text-align: center;
  height: 94vh;
  z-index: 1;
}

.codeEditor{
  text-align: left;
}

.questionScroll{
  height: 80%;
  overflow-y: auto;
}

.testScroll{
  height: 85%;
  overflow-y: auto;
}

.questionDropdown{
  text-align: center;
  width: 100%; 
  overflow-y: auto;
}

.divPage{
  padding-left: 1rem;
  max-height: 94vh;
  max-width: 94vw;
  text-align: center;
}

.divPageModal{
  padding-left: 1rem;
  max-height: 90vh;
  max-width: 94vw;
  text-align: center;
}

.homeAluno{
  text-align: center;
  width: 100%; 
  overflow-y: auto;
}

.AlunoHeader{
  background-color: #1b4cad;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.sidebarAluno{
  padding: 1rem;
  background-color: #f7f7f7;
  color: rgb(0, 0, 0);
  text-align: center;
  height: 100vh;
  z-index: 1;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.dividerForm{
  border-top: 1px solid;
  border-top-color: #dadce0;
}

.buttonForm{
  margin-top: 16px;
}

.textAnswer{
  font-size: 14px;
  color: green;
}

.textTestValue{
  margin-left: 89%;
  font-size: 14px;
}

.greenBorder{
  border: 1px solid;
  border-color: green;
}

.modalDatabase{
  min-height: 90vh;
  max-height: 90vh;
  height: 90vh;
  min-width: 90%;
  max-width: 90%;
  width: 90%;
}

.questionBackground{
  background-color: #e7e7e7;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}